import BigNumber from 'bignumber.js';
import { QueryInterface } from 'sequelize';
import { MigrationUtils } from 'src/utils';

export default {
  async up(queryInterface: QueryInterface): Promise<void> {
    await queryInterface.createTable('{{table}}', {
      id: MigrationUtils.primaryKey(),
      {{#migrationColumns}}
      {{{.}}},
      {{/migrationColumns}}
      {{#softDelete}}
      ...MigrationUtils.softDeleteColumns,
      {{/softDelete}}
      ...MigrationUtils.timestampColumns
    });
  },

  async down(queryInterface: QueryInterface): Promise<void> {
    await queryInterface.dropTable('{{table}}');
  },
};
